.tb{
    position: absolute;
    color: black;
    background-color: white;
    top:20%;
    padding-left: 2px;
    padding-top: 2px;
    width: 100%;
    height: 80%;
    z-index: -1;
}
.tb table{
    background-color: white;
}
.top{
    position: absolute;
    /* background-color: white; */
    width: 1366px;
    height: 60px;
    padding-left: 10px;
    padding-top: 15px;
    z-index: -1;
}
.top span{
    font-size: 20px;
}
.btn{
background: #B1B9FC;
border-radius: 10px;
width: 100px;
height: 40px;
margin-left: 80%;
border: 1px solid #B1B9FC;
}