*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    width: 80px;
    height: 60px;
    
   float: left;
}
.nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #3A4851;
    height: 60px;}
.nav ul{
   padding-left: 200px;
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
}
.nav ul li{
    width: 200px;
    padding-top: 15px;
    color: white;
}
.setting li{
   padding-left: 160px;
}
.setting {
    width: 25px;
   margin-left: 450px;
}
.sticon{
    width: 0px;
}

.nav ul li:hover{
    color: red;
}
.nav ul a{
    color: white;
    text-decoration: none;
}
.sub-menu1{
    display: none;
    text-align: center;
    border: 1px solid black;
}
.sub-menu1 ul{
   padding-left: 0px;
}
.sub-menu1 ul li{
    width: 100px;
 }
 .sub-menu1 ul a{
    color: black;
    text-decoration: none;
}
.nav ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
    background-color: white;
}
.nav ul li:hover .sub-menu1 ul{
display: block;
margin: 10px;
}
.sub-menu2{
    display: none;
    border: 1px solid black;
    text-align: center;
}
.sub-menu2 ul{
   padding-left: 0px;
}
.sub-menu2 ul li{
    width: 100px;
 }
 .sub-menu2 ul a{
    color: black;
    text-decoration: none;
}
.nav ul li:hover .sub-menu2{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
    background-color: white;
}
.nav ul li:hover .sub-menu2 ul{
display: block;
margin: 10px;
}
.sub-menu3{
    display: none;
    border: 1px solid black;
    text-align: center;
}
.sub-menu3 ul{
   padding-left: 0px;
}
.sub-menu3 ul li{
    width: 170px;
    padding-left: 0px;
 }
 .sub-menu3 ul a{
    color: black;
    text-decoration: none;
}
.sub-menu3 hr{
    margin-top: 3px;
}
.nav ul li:hover .sub-menu3{
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -150px;
    background-color: white;
}
.nav ul li:hover .sub-menu3 ul{
display: block;
margin: 10px;
}
.bg{
    /* border: 1px solid black; */
    position: fixed;
    top: 60px;
    width: 100%;
    height: 91%;
    background-image: url("../Photos/bgorg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.main{
    /* border: 1px solid black; */
    position: absolute;
    font-size: 12px;
    top: 35%;
    left: 35%;
}
.time
{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 526px;
    top: 80%;
    
    background: #FFF3F3;
    border: 2px solid #000000;
    border-radius: 15px;
}
.time p{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}