.TutorForm{
    position: absolute;
    /* border: 1px solid black; */
    text-align: center;
    top: 15%;
    left: 35%;
    width: 440px;
    height: 550px;
    background-color: #FFFFFF;    
    z-index: -1;
}
.TutorForm h1{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.TutorForm p{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}
.TutorForm .tname,.taddress,.tgender,.tcontact,.ted{
    width: 250px;
    height: 30px;
    /* margin-left: 20px; */
}
.tname{
margin-left: 70px;
}
.taddress{
    margin-left: 55px;
}
.tgender{
    margin-left: 60px;
}
.tcontact{
    margin-left: 57px;
}
.ted{
    margin-left: 20px;
}
.submitbtn{
    margin-right:50px ;
    color: white;
    background-color: #3ED749;
    width: 100px;
    height: 30px;
    border: 1px solid #3ED749 ;
}
.clearbtn{
    color: black;
    background-color: white;
    width: 100px;
    height: 30px;
    border: 1px solid black ;
}